
<div class="xlsx_checker_studio">
<div class="wrapper-comp-settings editor-with-buttons is-active" id="settings-tab">
    
    <ul class="list-input settings-list">

  <div id="main-settings">

  <h2>В данный момент доступны три лабораторных работы Microsoft Office Excel</h2>
  
 <div class="main-settings-content">
    <select class="select-lab" name="lab_scenario" selected="{{lab_scenario}}">
        <option {% if lab_scenario == 1 %} selected="selected" {% endif %} value="1">Формулы, функции и диаграммы</option>
        <option {% if lab_scenario == 2 %} selected="selected" {% endif %} value="2">Построение графиков функций</option>
        <option {% if lab_scenario == 3 %} selected="selected" {% endif %} value="3">Сортировка, фильтры и промежуточные итоги</option>
       </select>

     <div id="1" class="group" >
       <p>Описание лабораторной работы по формулам, функциям, диаграммам ...</p>
    </div>
        
     <div id="2" class="group" >
       <p>Описание лабораторной работы по построению графиков функции ...</p>
    </div>

     <div id="3" class="group" >
        <p>Описание лабораторной работы по сортировке, фильтрам, промежуточным итогам...</p>
    </div>
</div>

  </div>

  <div id="scenario-settings" hidden="true">

  <!--
      <li class="field comp-setting-entry is-set">
        <div class="wrapper-comp-setting">
          <label class="label setting-label" for="display_name">Название:</label>
          <input class="input setting-input" name="display_name" id="display_name" value="{{display_name}}" type="text" />
        </div>
      </li>
  -->
          <li class="field comp-setting-entry is-set">
        <div class="wrapper-comp-setting">
          <label class="label setting-label" for="question-area">Вопрос:</label>
          <textarea id="question-area" class="input setting-input" name="question" rows=2 cols=50>{{question}}</textarea>
        </div>
      </li>

      <li class="field comp-setting-entry is-set">
        <div class="wrapper-comp-setting">
          <label class="label setting-label" for="weight">Максимальное количество баллов (0-100):</label>
          <input class="input setting-input" name="weight" id="weight" value="{{weight}}" type="number" min="0" max="100" />
        </div>
      </li>

      <li class="field comp-setting-entry is-set">
        <div class="wrapper-comp-setting">
          <label class="label setting-label" for="max_attempts">Количество попыток:</label>
          <input class="input setting-input" name="max_attempts" id="max_attempts" value="{{max_attempts}}" type="number" min="0" />
          </div>
        </li>

  </div>

  <div id="advanced-settings" hidden="true">
      
  <li class="field comp-setting-entry is-set">
        <div class="wrapper-comp-setting">
        <label class="label setting-label" for="sequence">Здесь могут быть расширенные настройки</label>
        </div>
  </li>





  </div>


</ul>


  <div class="xblock-actions">
    <ul>
      <li class="action-item">
        <a href="#" class="button action-primary save-button">Save</a>
      </li>
      <li class="action-item">
        <a href="#" class="button cancel-button">Cancel</a>
      </li>
    </ul>
  </div>
</div>
</div>