<div class="problem">

<div class="problem-progress">
        {% if points == 0 or points %}
            <me-span class="weight"> Набрано баллов: <me-span class="points">{{points}} из {{weight}}</me-span></me-span>
        {% else %}
            <me-span class="weight">(Максимальное кoличество баллов: {{weight}})</me-span>
        {% endif %}
    </div>   


        <h2 class="problem-header">{{display_name}}</h2>
        {% if question != '' and question != "None" %}
            <div id="question">{{question|safe}}</div>
        {% endif %}

    {% if student_xlsx_name != '' %}
        <p>Загруженный файл</p>
        <a class="download_student_file">{{student_xlsx_name}}<a/>
    {% endif %}

    <div class="upload-block">
    		<form enctype="multipart/form-data" class="student">
    			<h2>Загрузить документ</h2>
    			<input type="file" class="student-file" name="studentFile" accept=".xlsx"/>
    			<input type="button" value="Загрузить"  class="upload-student-file"/>
    		</form>
    </div>

    <div class="action">
            {% if past_due and answer_opportunity %}
                <button class="check Check" data-checking="Проверка..." data-value="Проверить/последняя попытка"><span class="check-label">Проверить</span><span class="sr"> ваш ответ</span></button>
                <div class="submission_feedback" aria-live="polite">
                {% if max_attempts %}
                    Использовано попыток: <me-span class="attempts">{{attempts}}</me-span> из {{max_attempts}} 
                {% endif %}
                </div>
            {% elif past_due %}
                <div class="submission_feedback" aria-live="polite">
                    Использовано попыток: <me-span class="attempts">{{attempts}}</me-span> из {{max_attempts}} 
                </div>
            {% elif answer_opportunity %}
                <div class="submission_feedback" aria-live="polite">
                    Использовано попыток: <me-span class="attempts">{{attempts}}</me-span> из {{max_attempts}} <br />Время для ответа истекло
                </div>
            {% endif %}

    </div>

</div> 