/* CSS for XlsxCheckerXBlock */

.xlsx_checker_block .count {
    font-weight: bold;
}

.xlsx_checker_block p {
    cursor: pointer;
}

.file-upload-block{
	background: #ececec !important;
    margin: 30px 0px;
    padding: 10px;
}

.file-upload-block input[type="button"]{
    font-weight: 400 !important;
    padding: 0px 6px !important;
    margin: 10px;
}

.file-upload-block form{
	padding: 10px !important;
    display: inline-grid !important;
}
.upload-block{
	text-align: center;
}

.file-upload-block form p{
   text-align: center !important;
    margin-bottom: 0.4em !important;
}

.current-student-file p{
	font-size: 1.2em !important;
    font-weight: normal !important;
    margin-bottom: 0.4em !important;
}

.block-analyze{
	padding: 10px;
    /*background: #ececec;*/
    margin: 30px 0px;
}

.analyze-all .criterion-complete-false{
	background: rgba(255, 138, 138, 0.27);
}

.analyze-all .criterion-complete-true{
	background: rgba(125, 204, 125, 0.19);
}

.one-criterion {
    margin: 0px 30px !important;
    padding: 2px;
}

.criterion-block {
    padding: 0px 0px 10px 0px;
}

.criterion-block div{
	font-size: 1.1em;
    padding: 6px 0px;
}

.main-block-analyze{
	border: 2px solid #c1c1c1;
    padding: 0px 18px;
    margin: 10px 0px;
}

.main-block-analyze h3{
    text-align: center;
    padding: 10px 0px;
}